.app {
  padding: 50px
}

.autocomplete-wrapper {
  position: relative;
}

.form-item {
  margin-bottom: 10px;
}

.form-label {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  color: #484848;
  border: 1px solid #6f6f6f;
  border-radius: 3px;
}

.form-input:focus {
  border: 1px solid #6fbfff;
}

.form-input::placeholder {
  font-size: 14px;
}

.search-results-list {
  list-style-type: none;
  position: absolute;
  top: 110%;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-shadow: 0 0 4px 0 #efefef;
  background-color: #fff;
}

.search-result__item {
  padding: 12px 12px;
  border-bottom: 1px solid #efefef;
}

.search-result__item:last-child {
  border-bottom: 0;
}

.movie-card-wrapper {
  margin-top: 30px;
}

.movie-card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #efefef;
  border: 1px solid #efefef;
  border-radius: 10px;
  overflow: hidden;
}

.movie-detail {
  padding: 12px;
}

.movie-title {
  font-size: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-title span {
  font-weight: 700;
}